name: Build

on:
  push:
    branches:
      - main
      - try-mingw-gstreamer
  pull_request:
    branches:
      - main

jobs:
  matrix:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, "macos-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      # - name: Downgrade mingw to 11.2.0
      #   if: runner.os == 'Windows'
      #   run: choco install mingw --version 11.2.0 --allow-downgrade
      - name: Setup GStreamer
        id: setup_gstreamer
        uses: everycastlabs/setup-gstreamer@move-to-mingw
        with:
          version: 1.22.6
      - name: checkout
        uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "^1.21.0"
      - name: build
        shell: bash
        run: |
          packages=$(go list ./...)
          for package in $packages; do
            echo "Building: $package"
            go build $package || exit 1
            echo "Build done: $package"
          done
