name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  matrix:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: install mingw 11.2.0 using choco
        if: runner.os == 'Windows'
        shell: powershell
        run: choco install mingw --version 11.2.0

      - name: Add mingw to path on windows
        if: runner.os == 'Windows'
        run: Add-Content $env:GITHUB_PATH "C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin"
        shell: powershell

      - name: install pkgconfiglite using choco
        if: runner.os == 'Windows'
        shell: powershell
        run: choco install pkgconfiglite --allow-empty-checksums

      - name: Setup GStreamer
        id: setup_gstreamer
        uses: blinemedical/setup-gstreamer@v1.4.0
      - name: checkout
        uses: actions/checkout@v3
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"
      - name: build
        shell: bash
        run: |
          packages=$(go list ./...)
          for package in $packages; do
            echo "Building: $package"
            go build $package || exit 1
            echo "Build done: $package"
          done
